.App{
  display: flex;
}

.sidenav{
  max-width: 350px;
  width: 30vw;
  min-width: 350px;
  background-color: #2d1f72;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav-logo{
  width: 100%;
  height: 150px;
  /* background-color: aliceblue; */
  /* border: 1px solid white; */
  /* color: white; */
  color: rgb(230, 230, 235);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}

.side-nav-section{
    width: 100%;
  height: 50px;
  /* background-color: aliceblue; */
  /* border: 1px solid white; */
  color: rgb(214, 214, 219);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  padding-left: 50px;
}

.side-nav-section:hover{
  cursor: pointer;
}

.sidenav-items {
  margin-bottom: 40px;
  margin-top: 10px;
}

.sidenav-item{
      width: 100%;
  height: 80px;
  /* background-color: aliceblue; */
  /* border: 1px solid white; */
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  padding-left: 20px;
  
  
  
}
.item-bg{
padding-left: 15px;
border-radius: 10px;
width: 83%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-bg:hover{
  background-color: #4e3cce;
  cursor: pointer;
}


.folder-icon{
  font-size: 2.0rem !important;
}

.sidenav-item-desc-title{
  font-size: 17px;
}
.sidenav-item-desc-gb{
color: grey;
font-size: 11px;
}
.sidenav-item-desc{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.sidenav-footer-bold {
  color: white;
}

.sidenav-footer{
  color: gray;
  font-size: 11px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 130px;
}

.header{
  /* background-color: grey; */
  width: 100%;
  height: 150px;
  position: relative; 
}

.header-right{
  width: 500px;
  height: 100%;
  /* background-color: #9d97c9; */
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.search{
  /* background-color: #e6e6e6; */
  /* width: 300px; */
  /* border-radius: 5px; */
  /* color: grey; */
  display: flex;
  align-items: center;
  
  
}

.search-input{
  height: 25px;
  background-color: #e6e6e6;
  width: 250px;
    padding-left: 20px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  /* width: 200px; */
  margin-right: 8px;
}

.search-input:focus {
  border:none !important; /* Apply a custom border color when focused */
  outline: none;
}

.pagetitle{
  position: absolute;
  color: rgb(78, 78, 78);
  bottom: 10px;
  left: 30px;
  font-size: 22px;
}

.icons-header{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  /* font-size: 2.0rem; */
}

.icon-noti{
  color: rgb(58, 58, 58);
  /* font-size: 2.0rem; */
}

.icon-profile{
  background-color: #5aa562;
  width: 37px;
  margin-left: 20px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page{
  width: 100%;
  background-color: #f9f9f9;
}

.main{
  /* background-color: aliceblue; */
  width: 100%;
  /* height: 100vh; */
  padding: 30px;
}

.tablebg{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
}

.my-table {
  width: 100%;
  border-collapse: collapse;
  /* background-color: aliceblue; */
  /* padding: 4px; */
}

.my-table th,
.my-table td {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  padding: 8px;
}

.my-table th {
  background-color: white;
}

/* .my-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
} */


.firstcol{
display: flex;
align-items: center;
width: 300px;
}

.seccolumn{
display: flex;
}